@page
@model MyApp.Namespace.Clientes.CreateModelCliente
@{
    ViewData["Title"] = "Crear Cliente";
}


<h1>Crear Cliente</h1>
<br />
<form method="post">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label asp-for="newCliente.Nombre" class="control-label"></label>
            <input asp-for="newCliente.Nombre" class="form-control"></input>
            <span asp-validation-for="newCliente.Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="newCliente.Apellido" class="control-label"></label>
            <input asp-for="newCliente.Apellido" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2 form-group">
            <label asp-for="newCliente.TipoDocumento" class="control-label"></label>
            <select asp-for="newCliente.TipoDocumento" class="form-control">
                <option>CC</option>
                <option>TI</option>
                <option>PAS</option>
                <option>CE</option>
                <option>VISA</option>
            </select>
        </div>
        <div class="col-md-7 form-group">
            <label asp-for="newCliente.NumeroDocumento" class="control-label"></label>
            <input asp-for="newCliente.NumeroDocumento" class="form-control"></input>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="newCliente.Edad" class="control-label"></label>
            <input asp-for="newCliente.Edad" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label asp-for="newCliente.Telefono" class="control-label"></label>
            <input asp-for="newCliente.Telefono" class="form-control"></input>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="newCliente.Correo" class="control-label"></label>
            <input asp-for="newCliente.Correo" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 form-group">
        </div>
        <div class="col-md-4 form-group">
            <button type="submit" class="btn btn-secondary btn-lg btn-block rounded-pill">Guardar</button>
        </div>
        <div class="col-md-4 form-group">
        </div>
    </div>
</form>
