@page
@model MyApp.Namespace.Clientes.DetailsModelCliente
@{
    ViewData["Title"] = "Detalle de Cliente";
    var _cliente = Model.cliente;
}

<div class="row mt-2">
        <dt class="col-md-5">
            <h1>Información Detallada</h1>
        </dt>
        <dd class="col-md-2">
            <a class="btn btn-outline-secondary" asp-page="./Update" asp-route-id="@_cliente.Id" data-toggle="tooltip"
                title="Editar">
                <i class="fas fa-user-edit"></i>
            </a>
            <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@_cliente.Id" data-toggle="tooltip"
                title="Eliminar">
                <i class="fas fa-user-minus"></i>
            </a>
        </dd>
</div>

<form method="post">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Nombre" class="control-label"></label>
            <input asp-for="cliente.Nombre" class="form-control" readonly></input>
            <span asp-validation-for="cliente.Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Apellido" class="control-label"></label>
            <input asp-for="cliente.Apellido" class="form-control" readonly></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2 form-group">
            <label asp-for="cliente.TipoDocumento" class="control-label"></label>
            <input asp-for="cliente.TipoDocumento" class="form-control" readonly></input>
        </div>
        <div class="col-md-7 form-group">
            <label asp-for="cliente.NumeroDocumento" class="control-label"></label>
            <input asp-for="cliente.NumeroDocumento" class="form-control" readonly></input>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="cliente.Edad" class="control-label"></label>
            <input asp-for="cliente.Edad" class="form-control" readonly></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Telefono" class="control-label"></label>
            <input asp-for="cliente.Telefono" class="form-control" readonly></input>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Correo" class="control-label"></label>
            <input asp-for="cliente.Correo" class="form-control" readonly></input>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-primary rounded-pill" asp-page="./List">
        <i class="fas fa-angle-double-left">Regresar</i>
    </a>
</div>
