@page
@model MyApp.Namespace.Clientes.UpdateModelCliente
@{
    ViewData["Title"] = "Editar Cliente";
}


<h1>Editar Cliente</h1>
<br />

<form method="post">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Nombre" class="control-label"></label>
            <input asp-for="cliente.Nombre" class="form-control"></input>
            <span asp-validation-for="cliente.Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Apellido" class="control-label"></label>
            <input asp-for="cliente.Apellido" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2 form-group">
            <label asp-for="cliente.TipoDocumento" class="control-label"></label>
            <input asp-for="cliente.TipoDocumento" class="form-control"></input>
        </div>
        <div class="col-md-7 form-group">
            <label asp-for="cliente.NumeroDocumento" class="control-label"></label>
            <input asp-for="cliente.NumeroDocumento" class="form-control"></input>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="cliente.Edad" class="control-label"></label>
            <input asp-for="cliente.Edad" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Telefono" class="control-label"></label>
            <input asp-for="cliente.Telefono" class="form-control"></input>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="cliente.Correo" class="control-label"></label>
            <input asp-for="cliente.Correo" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-5 form-group">
            <a class="btn btn-outline-info rounded-pill" asp-page="./List">
                <i class="fas fa-angle-double-left">Regresar</i>
            </a>
        </div>
        <div class="col-md-2 form-group">
            <button type="submit" class="btn btn-secondary rounded-pill">Actualizar</button>
        </div>
    </div>
</form>