@page
@model MyApp.Namespace.Empleados.DetailsModelEmpleado
@{
    ViewData["Title"] = "Detalle Empleado";
    var _empleado = Model.empleado;
}
<div class="row mt-2">
        <dt class="col-md-5">
            <h1>Información Detallada</h1>
        </dt>
        <dd class="col-md-2">
            <a class="btn btn-outline-secondary" asp-page="./Update" asp-route-id="@_empleado.Id" data-toggle="tooltip"
                title="Editar">
                <i class="fas fa-user-edit"></i>
            </a>
            <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@_empleado.Id" data-toggle="tooltip"
                title="Eliminar">
                <i class="fas fa-user-minus"></i>
            </a>
        </dd>
</div>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="empleado.Nombre" class="control-label"></label>
            <input asp-for="empleado.Nombre" class="form-control" readonly></input>
            <span asp-validation-for="empleado" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="empleado.Apellido" class="control-label"></label>
            <input asp-for="empleado.Apellido" class="form-control" readonly></input>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label asp-for="empleado.TipoDocumento" class="control-label"></label>
            <input asp-for="empleado.TipoDocumento" class="form-control" readonly></input>
        </div>
        <div class="form-group col-md-7">
            <label asp-for="empleado.NumeroDocumento" class="control-label"></label>
            <input asp-for="empleado.NumeroDocumento" class="form-control" readonly></input>
        </div>
        <div class="form-group col-md-3"> 
            <label asp-for="empleado.Edad" class="control-label"></label>
            <input asp-for="empleado.Edad" class="form-control" readonly></input>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="empleado.Salario" class="control-label"></label>
            <input asp-for="empleado.Salario" class="form-control" readonly></input>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="empleado.Telefono" class="control-label"></label>
            <input asp-for="empleado.Telefono" class="form-control" readonly></input>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="empleado.Correo" class="control-label"></label>
            <input asp-for="empleado.Correo" class="form-control" readonly></input>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-primary rounded-pill" asp-page="./List">
        <i class="fas fa-angle-double-left">Regresar</i>
    </a>
</div>
