@page
@model MyApp.Namespace.Empleados.UpdateModelEmpleado
@{
    ViewData["Title"] = "Editar Empleado";
}

<h1>Editar Empleado</h1>
<br />

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="empleado.Nombre" class="control-label"></label>
            <input asp-for="empleado.Nombre" class="form-control"></input>
            <span asp-validation-for="empleado" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="empleado.Apellido" class="control-label"></label>
            <input asp-for="empleado.Apellido" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label asp-for="empleado.TipoDocumento" class="control-label"></label>
            <select asp-for="empleado.TipoDocumento" class="form-control">
                <option>CC</option>
                <option>TI</option>
                <option>PAS</option>
                <option>CE</option>
                <option>VISA</option>
            </select>
        </div>
        <div class="form-group col-md-7">
            <label asp-for="empleado.NumeroDocumento" class="control-label"></label>
            <input asp-for="empleado.NumeroDocumento" class="form-control"></input>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="empleado.Edad" class="control-label"></label>
            <input asp-for="empleado.Edad" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="empleado.Salario" class="control-label"></label>
            <input asp-for="empleado.Salario" class="form-control"></input>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="empleado.Telefono" class="control-label"></label>
            <input asp-for="empleado.Telefono" class="form-control"></input>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="empleado.Correo" class="control-label"></label>
            <input asp-for="empleado.Correo" class="form-control"></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-5 form-group">
            <a class="btn btn-outline-info rounded-pill" asp-page="./List">
                <i class="fas fa-angle-double-left">Regresar</i>
            </a>
        </div>
        <div class="col-md-2 form-group">
            <button type="submit" class="btn btn-secondary rounded-pill">Actualizar</button>
        </div>
    </div>
</form>