@page
@model MyApp.Namespace.Empresas.DetailsModelEmpresa
@{
    ViewData["Title"] = "Detalle Empresa";
    var _empresa = Model.empresa;
}

<div class="row mt-2">
        <dt class="col-md-5">
            <h1>Información Detallada</h1>
        </dt>
        <dd class="col-md-2">
            <a class="btn btn-outline-secondary" asp-page="./Update" asp-route-id="@_empresa.Id" data-toggle="tooltip"
                title="Editar">
                <i class="fas fa-pen"></i>
            </a>
            <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@_empresa.Id" data-toggle="tooltip"
                title="Eliminar">
                <i class="fas fa-trash-alt"></i>
            </a>
        </dd>
</div>

<form method="post">
    <div class="form-row">
        <div class="col-md-8 form-group">
            <label asp-for="empresa.Nombre" class="control-label"></label>
            <input asp-for="empresa.Nombre" class="form-control" readonly></input>
            <span asp-validation-for="empresa.Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="empresa.NIT" class="control-label"></label>
            <input asp-for="empresa.NIT" class="form-control" readonly></input>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 form-group">
            <label asp-for="empresa.Telefono" class="control-label"></label>
            <input asp-for="empresa.Telefono" class="form-control" readonly></input>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="empresa.Correo" class="control-label"></label>
            <input asp-for="empresa.Correo" class="form-control" readonly></input>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="empresa.Sector" class="control-label"></label>
            <input asp-for="empresa.Sector" class="form-control" readonly></input>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="empresa.Direccion" class="control-label"></label>
        <input asp-for="empresa.Direccion" class="form-control" readonly></input>
    </div>
</form>

<div>
    <a class="btn btn-primary rounded-pill" asp-page="./List">
        <i class="fas fa-angle-double-left">Regresar</i>
    </a>
</div>
